<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="assetMapper" >
  <resultMap id="BaseResultMap" type="com.org.mgws.entity.TAssetCart" >
    <id column="no" property="no" jdbcType="BIGINT" />
    <result column="partnerNo" property="partnerno" jdbcType="VARCHAR" />
    <result column="releaseDate" property="releasedate" jdbcType="TIMESTAMP" />
    <result column="releaseDate" property="releasedate_v" jdbcType="VARCHAR" />
    <result column="releaseFlg" property="releaseflg" jdbcType="CHAR" />
    <result column="releaseflg_v" property="releaseflg_v" jdbcType="VARCHAR" />
    <result column="assetName" property="assetname" jdbcType="VARCHAR" />
    <result column="assetPic" property="assetpic" jdbcType="VARCHAR" />
    <result column="addTimestamp" property="addtimestamp" jdbcType="TIMESTAMP" />
    <result column="addUserKey" property="adduserkey" jdbcType="VARCHAR" />
    <result column="updTimestamp" property="updtimestamp" jdbcType="TIMESTAMP" />
    <result column="updUserKey" property="upduserkey" jdbcType="VARCHAR" />
    <result column="updPgmId" property="updpgmid" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.org.mgws.entity.TAssetCart" extends="BaseResultMap" >
    <result column="assetDetails" property="assetdetails" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    no, partnerNo, DATE_FORMAT(releaseDate, "%Y/%m/%d") as releaseDate_v, releaseFlg,
    case releaseFlg when '0' then '暂存' when '1' then '发布' when '2' then '关闭' end as releaseFlg_v, assetName,assetPic, addTimestamp, addUserKey, updTimestamp, 
    updUserKey, updPgmId
  </sql>
  <sql id="Blob_Column_List" >
    assetDetails
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_asset_info
    where no = #{no,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_asset_info
    where no = #{no,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.org.mgws.entity.TAssetCart" >
    insert into t_asset_info (no, partnerNo, releaseDate, 
      releaseFlg, assetName,assetPic, addTimestamp, 
      addUserKey, updTimestamp, updUserKey, 
      updPgmId, assetDetails)
    values (#{no,jdbcType=BIGINT}, #{partnerno,jdbcType=VARCHAR}, #{releasedate,jdbcType=TIMESTAMP}, 
      #{releaseflg,jdbcType=CHAR}, #{assetname,jdbcType=VARCHAR}, #{assetpic,jdbcType=VARCHAR}, #{addtimestamp,jdbcType=TIMESTAMP}, 
      #{adduserkey,jdbcType=VARCHAR}, #{updtimestamp,jdbcType=TIMESTAMP}, #{upduserkey,jdbcType=VARCHAR}, 
      #{updpgmid,jdbcType=VARCHAR}, #{assetdetails,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.org.mgws.entity.TAssetCart" >
    insert into t_asset_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="no != null" >
        no,
      </if>
      <if test="partnerno != null" >
        partnerNo,
      </if>
      <if test="releasedate != null" >
        releaseDate,
      </if>
      <if test="releaseflg != null" >
        releaseFlg,
      </if>
      <if test="assetname != null" >
        assetName,
      </if>
      <if test="assetpic != null" >
        assetPic,
      </if>
      <if test="addtimestamp != null" >
        addTimestamp,
      </if>
      <if test="adduserkey != null" >
        addUserKey,
      </if>
      <if test="updtimestamp != null" >
        updTimestamp,
      </if>
      <if test="upduserkey != null" >
        updUserKey,
      </if>
      <if test="updpgmid != null" >
        updPgmId,
      </if>
      <if test="assetdetails != null" >
        assetDetails,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="no != null" >
        #{no,jdbcType=BIGINT},
      </if>
      <if test="partnerno != null" >
        #{partnerno,jdbcType=VARCHAR},
      </if>
      <if test="releasedate != null" >
        #{releasedate,jdbcType=TIMESTAMP},
      </if>
      <if test="releaseflg != null" >
        #{releaseflg,jdbcType=CHAR},
      </if>
      <if test="assetname != null" >
        #{assetname,jdbcType=VARCHAR},
      </if>
      <if test="assetpic != null" >
        #{assetpic,jdbcType=VARCHAR},
      </if>
      <if test="addtimestamp != null" >
        #{addtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="adduserkey != null" >
        #{adduserkey,jdbcType=VARCHAR},
      </if>
      <if test="updtimestamp != null" >
        #{updtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="upduserkey != null" >
        #{upduserkey,jdbcType=VARCHAR},
      </if>
      <if test="updpgmid != null" >
        #{updpgmid,jdbcType=VARCHAR},
      </if>
      <if test="assetdetails != null" >
        #{assetdetails,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.org.mgws.entity.TAssetCart" >
    update t_asset_info
    <set >
      <if test="partnerno != null" >
        partnerNo = #{partnerno,jdbcType=VARCHAR},
      </if>
      <if test="releasedate != null" >
        releaseDate = #{releasedate,jdbcType=TIMESTAMP},
      </if>
      <if test="releaseflg != null" >
        releaseFlg = #{releaseflg,jdbcType=CHAR},
      </if>
      <if test="assetname != null" >
        assetName = #{assetname,jdbcType=VARCHAR},
      </if>
      <if test="assetpic != null" >
        assetPic = #{assetpic,jdbcType=VARCHAR},
      </if>
      <if test="addtimestamp != null" >
        addTimestamp = #{addtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="adduserkey != null" >
        addUserKey = #{adduserkey,jdbcType=VARCHAR},
      </if>
      <if test="updtimestamp != null" >
        updTimestamp = #{updtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="upduserkey != null" >
        updUserKey = #{upduserkey,jdbcType=VARCHAR},
      </if>
      <if test="updpgmid != null" >
        updPgmId = #{updpgmid,jdbcType=VARCHAR},
      </if>
      <if test="assetdetails != null" >
        assetDetails = #{assetdetails,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where partnerNo = #{partnerno,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.org.mgws.entity.TAssetCart" >
    update t_asset_info
    set partnerNo = #{partnerno,jdbcType=VARCHAR},
      releaseDate = #{releasedate,jdbcType=TIMESTAMP},
      releaseFlg = #{releaseflg,jdbcType=CHAR},
      assetName = #{assetname,jdbcType=VARCHAR},
      assetPic = #{assetpic,jdbcType=VARCHAR},
      addTimestamp = #{addtimestamp,jdbcType=TIMESTAMP},
      addUserKey = #{adduserkey,jdbcType=VARCHAR},
      updTimestamp = #{updtimestamp,jdbcType=TIMESTAMP},
      updUserKey = #{upduserkey,jdbcType=VARCHAR},
      updPgmId = #{updpgmid,jdbcType=VARCHAR},
      assetDetails = #{assetdetails,jdbcType=LONGVARCHAR}
    where partnerNo = #{partnerno,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.org.mgws.entity.TAssetCart" >
    update t_asset_info
    set partnerNo = #{partnerno,jdbcType=VARCHAR},
      releaseDate = #{releasedate,jdbcType=TIMESTAMP},
      releaseFlg = #{releaseflg,jdbcType=CHAR},
      assetName = #{assetname,jdbcType=VARCHAR},
      assetPic = #{assetpic,jdbcType=VARCHAR},
      addTimestamp = #{addtimestamp,jdbcType=TIMESTAMP},
      addUserKey = #{adduserkey,jdbcType=VARCHAR},
      updTimestamp = #{updtimestamp,jdbcType=TIMESTAMP},
      updUserKey = #{upduserkey,jdbcType=VARCHAR},
      updPgmId = #{updpgmid,jdbcType=VARCHAR}
    where partnerNo = #{partnerno,jdbcType=BIGINT}
  </update>
      
  <select id="selectAllByParam" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
	    ,
	    <include refid="Blob_Column_List" />
		from t_asset_info
		where 1=1
		<if test="assetName != null and assetName != ''">
			and assetName like CONCAT('%',#{assetName,jdbcType=VARCHAR},'%')
		</if>
		<if test="releaseFlg != null and releaseFlg != ''">
			and releaseFlg = #{releaseFlg,jdbcType=VARCHAR}
		</if>
		<if test="releaseDateF != null and releaseDateF != ''">
			and releaseDate = #{releaseDateF,jdbcType=VARCHAR} and releaseDate = #{releaseDateT,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="selectAllByParamCount" resultType="int" parameterType="java.lang.String">
		select
		count(1)
		from t_asset_info
		where 1=1
		<if test="assetName != null and assetName != ''">
			and assetName like CONCAT('%',#{assetName,jdbcType=VARCHAR},'%')
		</if>
		<if test="releaseFlg != null and releaseFlg != ''">
			and releaseFlg = #{releaseFlg,jdbcType=VARCHAR}
		</if>
		<if test="releaseDateF != null and releaseDateF != ''">
			and releaseDate = #{releaseDateF,jdbcType=VARCHAR} and releaseDate = #{releaseDateT,jdbcType=VARCHAR}
		</if>
	</select>
	
	<select id="getAllTAssetCartForPre" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
	    ,
	    <include refid="Blob_Column_List" />
		from t_asset_info
		where 1=1
		and releaseFlg = '1'
	</select>
</mapper>