<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="customerLoginInfoMapper">
  <resultMap id="BaseResultMap" type="com.org.mgws.entity.TCustomerLoginInfo" >
    <id column="no" property="no" jdbcType="BIGINT" />
    <result column="customerNo" property="customerNo" jdbcType="VARCHAR" />
    <result column="loginId" property="loginId" jdbcType="VARCHAR" />
    <result column="loginPass" property="loginPass" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="division" property="division" jdbcType="CHAR" />
    <result column="loginStatus" property="loginStatus" jdbcType="CHAR" />
    <result column="canLogin" property="canLogin" jdbcType="CHAR" />
    <result column="deleteFlg" property="deleteFlg" jdbcType="CHAR" />
    <result column="addTimestamp" property="addTimestamp" jdbcType="TIMESTAMP" />
    <result column="addUserKey" property="addUserKey" jdbcType="VARCHAR" />
    <result column="updTimestamp" property="updTimestamp" jdbcType="TIMESTAMP" />
    <result column="updUserKey" property="updUserKey" jdbcType="VARCHAR" />
    <result column="updPgmId" property="updPgmId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BasicInfo" type="com.org.mgws.dto.UserBasicInfo" >
    <id column="no" property="id" jdbcType="BIGINT" />
    <result column="customerNo" property="customerNo" jdbcType="VARCHAR" />
    <result column="loginId" property="loginId" jdbcType="VARCHAR" />
    <result column="division" property="division" jdbcType="VARCHAR" />
    <result column="customerName" property="customerName" jdbcType="VARCHAR" />
    <result column="registDate" property="registDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    no, customerNo, loginId, loginPass, salt, division, loginStatus, canLogin, deleteFlg, addTimestamp, 
    addUserKey, updTimestamp, updUserKey, updPgmId
  </sql>
  <sql id="BasicInfo_Column_List" >
    a.no, a.customerNo, a.loginId, a.division as customerType, 
    case when b.cnSurName is not null then concat(b.cnSurName, b.cnGivenName) when c.cnName is not null then c.cnName end as customerName,
    DATE_FORMAT(a.addTimestamp,'%Y/%m/%d') as registDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_customer_login_info
    where no = #{no,jdbcType=BIGINT}
  </select>
  
  <select id="selectAllCustomer" resultMap="BasicInfo" parameterType="java.lang.String" >
    select 
    <include refid="BasicInfo_Column_List" />
    from t_customer_login_info a left join t_individual_basic_info b on a.customerNo = b.customerNo 
    left join t_enterprise_basic_info c on a.customerNo = c.customerNo 
    <if test="customerType == '0'" >
	    <if test="customerName != null and customerName != ''" >
	        and concat(b.cnSurName, b.cnGivenName) like '%' || #{customerName,jdbcType=VARCHAR} || '%'
	        or c.cnName like '%' || #{customerName,jdbcType=VARCHAR} || '%'
	    </if>
    </if>
    <if test="customerType == '1'" >
        <if test="customerName != null and customerName != ''" >
	        and concat(b.cnSurName, b.cnGivenName) like '%' || #{customerName,jdbcType=VARCHAR} || '%'
	        or c.cnName like '%' || #{customerName,jdbcType=VARCHAR} || '%'
	    </if>
    </if>
    <if test="customerType == '2'" >
        <if test="customerName != null and customerName != ''" >
	        and c.cnName like '%' || #{customerName,jdbcType=VARCHAR} || '%'
	    </if>
    </if>
  </select>
  <select id="selectAllCustomerCount" resultType="int" parameterType="java.lang.String" >
    select 
    count(1)
    from t_customer_login_info a left join t_individual_basic_info b on a.customerNo = b.customerNo 
    left join t_enterprise_basic_info c on a.customerNo = c.customerNo 
    <if test="customerType == '0'" >
	    <if test="customerName != null and customerName != ''" >
	        and concat(b.cnSurName, b.cnGivenName) like '%' || #{customerName,jdbcType=VARCHAR} || '%'
	        or c.cnName like '%' || #{customerName,jdbcType=VARCHAR} || '%'
	    </if>
    </if>
    <if test="customerType == '1'" >
        <if test="customerName != null and customerName != ''" >
	        and concat(b.cnSurName, b.cnGivenName) like '%' || #{customerName,jdbcType=VARCHAR} || '%'
	        or c.cnName like '%' || #{customerName,jdbcType=VARCHAR} || '%'
	    </if>
    </if>
    <if test="customerType == '2'" >
        <if test="customerName != null and customerName != ''" >
	        and c.cnName like '%' || #{customerName,jdbcType=VARCHAR} || '%'
	    </if>
    </if>
  </select>
  <select id="selectByLoginId" resultMap="BaseResultMap" parameterType="com.org.mgws.entity.TCustomerLoginInfo" >
    select 
    <include refid="Base_Column_List" />
    from t_customer_login_info
    where loginId = #{loginId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_customer_login_info
    where no = #{no,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.org.mgws.entity.TCustomerLoginInfo" >
    insert into t_customer_login_info (no, customerNo, loginId, 
      loginPass, salt, loginStatus, 
      canLogin, deleteFlg, addTimestamp, 
      addUserKey, updTimestamp, updUserKey, 
      updPgmId)
    values (#{no,jdbcType=BIGINT}, #{customerNo,jdbcType=VARCHAR}, #{loginId,jdbcType=VARCHAR}, 
      #{loginPass,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{loginStatus,jdbcType=CHAR}, 
      #{canLogin,jdbcType=CHAR}, #{deleteFlg,jdbcType=CHAR}, #{addtimestamp,jdbcType=TIMESTAMP}, 
      #{adduserkey,jdbcType=VARCHAR}, #{updtimestamp,jdbcType=TIMESTAMP}, #{upduserkey,jdbcType=VARCHAR}, 
      #{updpgmid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.org.mgws.entity.TCustomerLoginInfo" >
    insert into t_customer_login_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="no != null" >
        no,
      </if>
      <if test="customerNo != null" >
        customerNo,
      </if>
      <if test="loginId != null" >
        loginId,
      </if>
      <if test="loginPass != null" >
        loginPass,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="loginStatus != null" >
        loginStatus,
      </if>
      <if test="canLogin != null" >
        canLogin,
      </if>
      <if test="deleteFlg != null" >
        deleteFlg,
      </if>
      <if test="division != null" >
        division,
      </if>
      <if test="addtimestamp != null" >
        addTimestamp,
      </if>
      <if test="adduserkey != null" >
        addUserKey,
      </if>
      <if test="updtimestamp != null" >
        updTimestamp,
      </if>
      <if test="upduserkey != null" >
        updUserKey,
      </if>
      <if test="updpgmid != null" >
        updPgmId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="no != null" >
        #{no,jdbcType=BIGINT},
      </if>
      <if test="customerNo != null" >
        #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="loginId != null" >
        #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="loginPass != null" >
        #{loginPass,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="loginStatus != null" >
        #{loginStatus,jdbcType=CHAR},
      </if>
      <if test="canLogin != null" >
        #{canLogin,jdbcType=CHAR},
      </if>
      <if test="division != null" >
        #{division,jdbcType=CHAR},
      </if>
      <if test="deleteFlg != null" >
        #{deleteFlg,jdbcType=CHAR},
      </if>
      <if test="addtimestamp != null" >
        #{addtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="adduserkey != null" >
        #{adduserkey,jdbcType=VARCHAR},
      </if>
      <if test="updtimestamp != null" >
        #{updtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="upduserkey != null" >
        #{upduserkey,jdbcType=VARCHAR},
      </if>
      <if test="updpgmid != null" >
        #{updpgmid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.org.mgws.entity.TCustomerLoginInfo" >
    update t_customer_login_info
    <set >
      <if test="customerNo != null" >
        customerNo = #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="loginId != null" >
        loginId = #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="loginPass != null" >
        loginPass = #{loginPass,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="loginStatus != null" >
        loginStatus = #{loginStatus,jdbcType=CHAR},
      </if>
      <if test="canLogin != null" >
        canLogin = #{canLogin,jdbcType=CHAR},
      </if>
      <if test="deleteFlg != null" >
        deleteFlg = #{deleteFlg,jdbcType=CHAR},
      </if>
      <if test="addtimestamp != null" >
        addTimestamp = #{addtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="adduserkey != null" >
        addUserKey = #{adduserkey,jdbcType=VARCHAR},
      </if>
      <if test="updtimestamp != null" >
        updTimestamp = #{updtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="upduserkey != null" >
        updUserKey = #{upduserkey,jdbcType=VARCHAR},
      </if>
      <if test="updpgmid != null" >
        updPgmId = #{updpgmid,jdbcType=VARCHAR},
      </if>
    </set>
    where no = #{no,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.org.mgws.entity.TCustomerLoginInfo" >
    update t_customer_login_info
    set customerNo = #{customerNo,jdbcType=VARCHAR},
      loginId = #{loginId,jdbcType=VARCHAR},
      loginPass = #{loginPass,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      loginStatus = #{loginStatus,jdbcType=CHAR},
      canLogin = #{canLogin,jdbcType=CHAR},
      deleteFlg = #{deleteFlg,jdbcType=CHAR},
      addTimestamp = #{addtimestamp,jdbcType=TIMESTAMP},
      addUserKey = #{adduserkey,jdbcType=VARCHAR},
      updTimestamp = #{updtimestamp,jdbcType=TIMESTAMP},
      updUserKey = #{upduserkey,jdbcType=VARCHAR},
      updPgmId = #{updpgmid,jdbcType=VARCHAR}
    where no = #{no,jdbcType=BIGINT}
  </update>

	<select id="checkLoginSuccess" resultMap="BaseResultMap" parameterType="map">
		select
		a.customerNo
		,a.loginId
		,a.loginPass
		,a.salt
		,a.loginStatus
		,a.canLogin
		from t_customer_login_info a
		inner join t_customer_security_info b
		on a.customerNo = b.customerNo
		where (b.telNo = #{username,jdbcType=VARCHAR} or b.emailAddr = #{username,jdbcType=VARCHAR} or b.wechatNo = #{username,jdbcType=VARCHAR})
		and a.loginPass = #{password,jdbcType=VARCHAR}
		and a.deleteFlg = '0'
	</select>

	<select id="selectByEmail" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_customer_login_info
		where loginId = #{email,jdbcType=VARCHAR}
	</select>
	
	<select id="selectByCustomerNo" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_customer_login_info
		where customerNo = #{customerNo,jdbcType=VARCHAR}
	</select>
	
	<select id="selectByParams" resultMap="BaseResultMap" parameterType="com.org.mgws.entity.TCustomerLoginInfo">
		select
		<include refid="Base_Column_List" />
		from t_customer_login_info
		where 1=1
		  <if test="customerNo != null" >
	        and customerNo = #{customerNo,jdbcType=VARCHAR}
	      </if>
	      <if test="loginId != null" >
	        and loginId = #{loginId,jdbcType=VARCHAR}
	      </if>
	      <if test="loginPass != null" >
	        and loginPass = #{loginPass,jdbcType=VARCHAR}
	      </if>
	      <if test="salt != null" >
	        and salt = #{salt,jdbcType=VARCHAR}
	      </if>
	      <if test="loginStatus != null" >
	        and loginStatus = #{loginStatus,jdbcType=CHAR}
	      </if>
	      <if test="canLogin != null" >
	        and canLogin = #{canLogin,jdbcType=CHAR}
	      </if>
	      <if test="deleteFlg != null" >
	        and deleteFlg = #{deleteFlg,jdbcType=CHAR}
	      </if>
	</select>
	
</mapper>