<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.org.mgws.dao.TEnterpriseBasicInfoMapper" >
  <resultMap id="BaseResultMap" type="com.org.mgws.entity.TEnterpriseBasicInfo" >
    <id column="no" property="no" jdbcType="BIGINT" />
    <result column="customerNo" property="customerNo" jdbcType="VARCHAR" />
    <result column="cnName" property="cnName" jdbcType="VARCHAR" />
    <result column="enName" property="enName" jdbcType="VARCHAR" />
    <result column="taxNo" property="taxNo" jdbcType="VARCHAR" />
    <result column="passportNo" property="passportNo" jdbcType="VARCHAR" />
    <result column="occupation" property="occupation" jdbcType="VARCHAR" />
    <result column="comments" property="comments" jdbcType="VARCHAR" />
    <result column="deleteFlg" property="deleteFlg" jdbcType="CHAR" />
    <result column="addTimestamp" property="addTimestamp" jdbcType="TIMESTAMP" />
    <result column="addUserKey" property="addUserKey" jdbcType="VARCHAR" />
    <result column="updTimestamp" property="updTimestamp" jdbcType="TIMESTAMP" />
    <result column="updUserKey" property="updUserKey" jdbcType="VARCHAR" />
    <result column="updPgmId" property="updPgmId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    no, customerNo, cnName, enName, taxNo, passportNo, occupation, comments, deleteFlg, 
    addTimestamp, addUserKey, updTimestamp, updUserKey, updPgmId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_enterprise_basic_info
    where no = #{no,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_enterprise_basic_info
    where no = #{no,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.org.mgws.entity.TEnterpriseBasicInfo" >
    insert into t_enterprise_basic_info (no, customerNo, cnName, 
      enName, taxNo, passportNo, 
      occupation, comments, deleteFlg, 
      addTimestamp, addUserKey, updTimestamp, 
      updUserKey, updPgmId)
    values (#{no,jdbcType=BIGINT}, #{customerNo,jdbcType=VARCHAR}, #{cnName,jdbcType=VARCHAR}, 
      #{enName,jdbcType=VARCHAR}, #{taxNo,jdbcType=VARCHAR}, #{passportNo,jdbcType=VARCHAR}, 
      #{occupation,jdbcType=VARCHAR}, #{comments,jdbcType=VARCHAR}, #{deleteFlg,jdbcType=CHAR}, 
      #{addTimestamp,jdbcType=TIMESTAMP}, #{addUserKey,jdbcType=VARCHAR}, #{updTimestamp,jdbcType=TIMESTAMP}, 
      #{updUserKey,jdbcType=VARCHAR}, #{updPgmId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.org.mgws.entity.TEnterpriseBasicInfo" >
    insert into t_enterprise_basic_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="no != null" >
        no,
      </if>
      <if test="customerNo != null" >
        customerNo,
      </if>
      <if test="cnName != null" >
        cnName,
      </if>
      <if test="enName != null" >
        enName,
      </if>
      <if test="taxNo != null" >
        taxNo,
      </if>
      <if test="passportNo != null" >
        passportNo,
      </if>
      <if test="occupation != null" >
        occupation,
      </if>
      <if test="comments != null" >
        comments,
      </if>
      <if test="deleteFlg != null" >
        deleteFlg,
      </if>
      <if test="addTimestamp != null" >
        addTimestamp,
      </if>
      <if test="addUserKey != null" >
        addUserKey,
      </if>
      <if test="updTimestamp != null" >
        updTimestamp,
      </if>
      <if test="updUserKey != null" >
        updUserKey,
      </if>
      <if test="updPgmId != null" >
        updPgmId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="no != null" >
        #{no,jdbcType=BIGINT},
      </if>
      <if test="customerNo != null" >
        #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="cnName != null" >
        #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="enName != null" >
        #{enName,jdbcType=VARCHAR},
      </if>
      <if test="taxNo != null" >
        #{taxNo,jdbcType=VARCHAR},
      </if>
      <if test="passportNo != null" >
        #{passportNo,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null" >
        #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlg != null" >
        #{deleteFlg,jdbcType=CHAR},
      </if>
      <if test="addTimestamp != null" >
        #{addTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="addUserKey != null" >
        #{addUserKey,jdbcType=VARCHAR},
      </if>
      <if test="updTimestamp != null" >
        #{updTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="updUserKey != null" >
        #{updUserKey,jdbcType=VARCHAR},
      </if>
      <if test="updPgmId != null" >
        #{updPgmId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.org.mgws.entity.TEnterpriseBasicInfo" >
    update t_enterprise_basic_info
    <set >
      <if test="customerNo != null" >
        customerNo = #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="cnName != null" >
        cnName = #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="enName != null" >
        enName = #{enName,jdbcType=VARCHAR},
      </if>
      <if test="taxNo != null" >
        taxNo = #{taxNo,jdbcType=VARCHAR},
      </if>
      <if test="passportNo != null" >
        passportNo = #{passportNo,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null" >
        occupation = #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="comments != null" >
        comments = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlg != null" >
        deleteFlg = #{deleteFlg,jdbcType=CHAR},
      </if>
      <if test="addTimestamp != null" >
        addTimestamp = #{addTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="addUserKey != null" >
        addUserKey = #{addUserKey,jdbcType=VARCHAR},
      </if>
      <if test="updTimestamp != null" >
        updTimestamp = #{updTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="updUserKey != null" >
        updUserKey = #{updUserKey,jdbcType=VARCHAR},
      </if>
      <if test="updPgmId != null" >
        updPgmId = #{updPgmId,jdbcType=VARCHAR},
      </if>
    </set>
    where no = #{no,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.org.mgws.entity.TEnterpriseBasicInfo" >
    update t_enterprise_basic_info
    set customerNo = #{customerNo,jdbcType=VARCHAR},
      cnName = #{cnName,jdbcType=VARCHAR},
      enName = #{enName,jdbcType=VARCHAR},
      taxNo = #{taxNo,jdbcType=VARCHAR},
      passportNo = #{passportNo,jdbcType=VARCHAR},
      occupation = #{occupation,jdbcType=VARCHAR},
      comments = #{comments,jdbcType=VARCHAR},
      deleteFlg = #{deleteFlg,jdbcType=CHAR},
      addTimestamp = #{addTimestamp,jdbcType=TIMESTAMP},
      addUserKey = #{addUserKey,jdbcType=VARCHAR},
      updTimestamp = #{updTimestamp,jdbcType=TIMESTAMP},
      updUserKey = #{updUserKey,jdbcType=VARCHAR},
      updPgmId = #{updPgmId,jdbcType=VARCHAR}
    where no = #{no,jdbcType=BIGINT}
  </update>
  
  <select id="selectEnterpriseBasicInfoByCustomerNo" resultMap="BaseResultMap" parameterType="java.lang.String">
      select
	  <include refid="Base_Column_List" />
	  from t_enterprise_basic_info
	  where customerNo = #{customerNo,jdbcType=VARCHAR}
  </select>
</mapper>