<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tInvestmentValueMapper" >
  <resultMap id="BaseResultMap" type="com.org.mgws.entity.TInvestmentValue" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="productId" property="productId" jdbcType="BIGINT" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="netValue" property="netValue" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.org.mgws.dto.InvestmentValueDto" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="productId" property="productId" jdbcType="BIGINT" />
    <result column="productName" property="productName" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="netValue" property="netValue" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, productId, date, netValue
  </sql>
  <sql id="Base_Column_List1" >
    a.id, a.productId, DATE_FORMAT(a.date,'%Y/%m/%d') as date, a.netValue,b.productName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_investment_value
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByProductId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_investment_value
    where productId = #{productId,jdbcType=VARCHAR}
    <if test="dateFrom != null and dateFrom != ''" >
        and (DATE_FORMAT(date,'%Y/%m/%d')) <![CDATA[ >= ]]> #{dateFrom,jdbcType=VARCHAR}
    </if>
    <if test="dateTo != null and dateTo != ''" >
        and (DATE_FORMAT(date,'%Y/%m/%d')) <![CDATA[ <= ]]> #{dateTo,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectByProductId2" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_investment_value
    where productId = #{productId,jdbcType=VARCHAR}
    <if test="dateFrom != null and dateFrom != ''" >
        and (DATE_FORMAT(date,'%Y%m%d')) <![CDATA[ >= ]]> #{dateFrom,jdbcType=VARCHAR}
    </if>
    <if test="dateTo != null and dateTo != ''" >
        and (DATE_FORMAT(date,'%Y%m%d')) <![CDATA[ <= ]]> #{dateTo,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectProductsValue" resultMap="BaseResultMap1" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List1" />
    from t_investment_value a left join t_investment_master b on a.productId = b.id
    where 1=1
    <if test="productName != null and productName != ''" >
        and b.productName like '%' || #{productName,jdbcType=VARCHAR} || '%'
    </if>
    <if test="dateFrom != null and dateFrom != ''" >
        and (DATE_FORMAT(a.date,'%Y/%m/%d')) <![CDATA[ >= ]]> #{dateFrom,jdbcType=VARCHAR}
    </if>
    <if test="dateTo != null and dateTo != ''" >
        and (DATE_FORMAT(a.date,'%Y/%m/%d')) <![CDATA[ <= ]]> #{dateTo,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectProductsValueCount" resultType="int" parameterType="java.lang.String" >
    select 
    count(1)
    from t_investment_value
    where 1=1
    <if test="productName != null and productName != ''" >
        and b.productName like '%' || #{productName,jdbcType=VARCHAR} || '%'
    </if>
    <if test="dateFrom != null and dateFrom != ''" >
        and (DATE_FORMAT(date,'%Y/%m/%d')) <![CDATA[ >= ]]> #{dateFrom,jdbcType=VARCHAR}
    </if>
    <if test="dateTo != null and dateTo != ''" >
        and (DATE_FORMAT(date,'%Y/%m/%d')) <![CDATA[ <= ]]> #{dateTo,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_investment_value
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.org.mgws.entity.TInvestmentValue" >
    insert into t_investment_value (id, productId, date, 
      netValue)
    values (#{id,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{date,jdbcType=VARCHAR}, 
      #{netValue,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.org.mgws.entity.TInvestmentValue" >
    insert into t_investment_value
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productId != null" >
        productId,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="netValue != null" >
        netValue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="netValue != null" >
        #{netValue,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.org.mgws.entity.TInvestmentValue" >
    update t_investment_value
    <set >
      <if test="productId != null" >
        productId = #{productId,jdbcType=BIGINT},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="netValue != null" >
        netValue = #{netValue,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.org.mgws.entity.TInvestmentValue" >
    update t_investment_value
    set productId = #{productId,jdbcType=BIGINT},
      date = #{date,jdbcType=VARCHAR},
      netValue = #{netValue,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
  

</mapper>