body {
	color: #222;
	font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background: #fff;
	font-size: 13px;
	/*overflow-x: hidden;*/
	min-width: 1280px;
	margin: 0px;
}

a{
	color: #222;
	text-decoration: none;
	cursor: pointer;

}

.point_m{
	width: 8px;
    height: 8px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-appearance:none;
}

.font_xxl{
	font-size: 30px;
}

.font_xl{
	font-size: 25px;
}

.font_l{
	font-size: 20px;
}

.font_ml{
	font-size: 15px;
}

.my_container{
	width:100%;
	overflow-x: hidden;
	margin: 0 auto;
}

.notMainhead{
	width: 100%;
	display: inline-block;
	padding-top: 30px;
}

.notMainLogo{
	width: 20%;
	float: left;
	display: inline-block;
	text-align: right;
}

.notMainLogo img{
	width: 50%;
	padding: 0px 15px 15px 15px;
}

.notMainTitle{
	width: 80%;
	float: left;
	min-width: 800px;
	display: inline-block;
}

.notMainTitle a{
	display: inline-block;
	margin: 15px 0px;
}

.notMainTitle a > span{
	display: inline-block;
	width: 100%;
	text-align: center
}

.notMainTitle .active span{
	color:#45E1D4 !important;
}

.notMainBanner{
	width: 100%;
}

.notMainBanner img{
	width: 100%;
}

.footer{
    bottom: 50px;
    z-index: 99;
    text-align: center;
}

.footer > .footer-split{
	width:5%;
	margin: 10px auto;
	border:1px solid #bbbbbb;
}

.info-content-1{
	width: 100%;
}

.info-content-1 div{
	width: 100%;
	text-align: center;
}

.fontshow{
	color: #222;
}

.fontinfo{
	color: #bbbbbb;
}

.circle_size_xll{
	background: url("../images/circle.png") no-repeat;
	background-size: 100px 100px;
	width: 100px !important;
	height: 100px;
}

.circle_size_xl{
	background: url("../images/circle.png") no-repeat;
	background-size: 50px 50px;
	width: 50px !important;
	height: 50px;
}

.circle_size_l{
	background: url("../images/circle.png") no-repeat;
	background-size: 35px 35px;
	width: 35px !important;
	height: 35px;
}

.circle_size_m{
	background: url("../images/circle.png") no-repeat;
	background-size: 20px 20px;
	width: 20px !important;
	height: 20px;
}

.position_r100_b100{
	position: absolute;
	right: 100px;
	bottom: 100px;
}
.position_r50_b300{
	position: absolute;
	right: 50px;
	bottom: 300px;
}

.position_l100_b5{
	position: absolute;
	left: 100px;
	bottom: 5px;
}

.position_l100_b50{
	position: absolute;
	left: 100px;
	bottom: 50px;
}

.position_r100_t5{
	position: absolute;
	right: 100px;
	top: 5px;
}

.position_l100_t5{
	position: absolute;
	left: 100px;
	top: 5px;
}

.position_l100_t30{
	position: absolute;
	left: 100px;
	top: 30px;
}

.position_l100_t0{
	position: absolute;
	left: 100px;
	top: 0px;
}

.magin-top-15px{
	margin-top: 15px;
}

.magin-top-20px{
	margin-top: 20px;
}

.magin-top-25px{
	margin-top: 25px;
}

.magin-top-5px{
	margin-top: 5px;
}

.magin-top-10px{
	margin-top: 10px;
}

.magin-top-30px{
	margin-top: 30px;
}

.magin-top-50px{
	margin-top: 50px;
}

.magin-top-200px{
	margin-top: 200px;
}

.magin-top-250px{
	margin-top: 250px;
}

.float_left{
	float: left;
}

/******==============================================棣栭〉==============================================******/
.flexslider {
    margin: 0 0px;
    background: #fff;
    border: none;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-appearance:none;
}
.flex-control-nav {
    width: 70%;
    position: absolute;
    bottom: -12px;
    text-align: center;
    z-index: 11;
    background-color: #fff;
    margin-left: 15%;
}

.flex-control-nav li {
    margin: 20px 6px 0px 6px;
    display: inline-block;
    zoom: 1;
}

.main_section{
	width: 995px;
    margin: 0px auto;
    position: relative;
    height: 400px;
    margin-top: 40px;
}

.main_invite{
	width: 100%;
	position: absolute;
	display: inline-block;
	margin-top: 40px;
	z-index: 2;
}

.main_invite .main_invite_left{
	width: 50%;
	float: left;
	box-shadow: 0 5px 5px rgba(47, 20, 20, 0.44);
}
.main_invite .main_invite_right{
    width: 50%;
    float: left;
}

.main_invite .main_invite_li{
	background: url("../images/main/invite_area.png") no-repeat;
	background-size: 100% 100%;
	padding: 50px 0px 0px 0px;
}

.main_invite .main_invite_li_left{
	width:40%;
	float: left;
}

.main_invite .main_invite_li_right{
	width:60%;
	float: left;
	padding: 0px 0px 70px 30px;
	position: relative;
}

.main_invite .main_invite_li_left .line{
	border: 1px solid #fff;
    width: 50%;
    float: right;
    margin: 10px 5px 0 5px;
}

.main_invite .main_invite_li_right span{
	display: block;
	width: 100%;
	margin-top: 10px;
 	color: #fff;
}

.main_invite .main_invite_li_right .main_invite_left_span1{
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 25px;
}

.main_invite_detail{
	background: url("../images/main/invite_detail.png") no-repeat;
    background-size: 40px 40px;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.main_exchange{
	width: 100%;
	position: absolute;
	display: inline-block;
	top: 0px;
   	z-index: 1;
}

.main_exchange .main_exchange_left{
	width: 40%;
	float: left;
}

.main_exchange .main_exchange_right{
	width: 60%;
	float: left;
}

.main_exchange img{
	width: 100%;
	max-height: 380px;
}

.main_jys_detail{
	width: 40%;
	margin:0 auto;
	position: relative;
	padding: 50px 0px 0px 0px;
}

.main_jys_detail .main_jys_detail_div{
	width: 100%;
	display:block;
	text-align: center;
}

.main_jys_detail .jsy_showdetail a{
	display: inline-block;
    width: 100px;
    height: 20px;
    background: #fff;
    text-decoration: none;
    line-height: 20px;
    text-align: center;
    color: #45E1D4;
    border-radius: 10px;
    margin: 15px 0px;
    border: 1px solid #45E1D4;
    -webkit-appearance:none;
}

.main_jys_sel{
	width: 995px;
    margin: 25px auto 0px auto;
}

.main_jys_sel a{
	width: 25%;
	display: inline-block;
	text-align: center;
	float: left;
}

.main_jys_sel a i{
	background: url("../images/main/po_circle_no.png") no-repeat;
    background-size: 100px 100px;
    width: 100px;
    height: 120px;
    display: inline-block;
}

.main_jys_sel a i:HOVER,.main_jys_sel a i:FOCUS{
	background: url("../images/main/po_circle_yes.png") no-repeat;
    background-size: 100px 100px;
    width: 100px;
    height: 120px;
    display: inline-block;
}

.main_jys_sel a img{
	width: 80px;
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 10px;
}

.main_jys_sel a span{
	width: 100%;
	text-align: center;
	display: inline-block;
}

.main_about_us{
	width: 100%;
	display: block;
	position: relative;
}

.main_about_us_back{
	width: 995px;
	margin: 50px auto;
	box-shadow: 0 5px 5px rgba(47, 20, 20, 0.44);
}

.main_about_us_back img{
	width: 100%;
}

.main_about_us_info{
	position: absolute;
	top: 0px;
	width: 60%;
	margin-left:20%;
	color: #fff;
}

.main_about_us_info > img{
	width: 100%;
}

.main_about_us_info .footer_img{
	display: inline-block;
}

.main_about_us_info .footer_img img{
	width: 50%;
	float: left;
}

.main_about_us_info .content_info{
	display: inline-block;
	width: 100%;
}

.main_about_us_info .content_info div{
	width: 100%;
    margin: 0px auto;
    text-align: center;
    display: block;
}

.main_about_us_info .content_info .main_jy_icon a{
	width: 25%;
	display: inline-block;
	text-align: center;
	float: left;
	color:#fff;
}

.main_about_us_info .content_info .main_jy_icon a img{
	width: 40px;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.main_about_us_info .content_info .main_jy_icon a span{
	width: 100%;
	text-align: center;
	display: inline-block;
}

.main_about_us_info .content_info .main_jy_content{
	width: 800px;
    margin: 25px auto;
    text-align: center;
}

.main_about_us_info .content_info .main_aoubt_us_more{
	width: 100%;
	text-align: center;
	display: inline-block;
}

.main_about_us_info .content_info .main_aoubt_us_more a{
	display: inline-block;
    width: 130px;
    height: 30px;
    background: #fff;
    text-decoration: none;
    line-height: 30px;
    text-align: center;
    color: #45E1D4;
    border-radius: 20px;
    margin: 15px 0px;
    border: 1px solid #45E1D4;
    font-size: 15px;
    -webkit-appearance:none;
}

.main_exchange .main_exchange_span{
	color: #45E1D4;
    font-style: italic;
    position: absolute;
    top: 10px;
    right: 30px;
}

.modal-content{
	padding: 10px;
}

.main_recruitdetails{
	max-height: 40px;
    padding: 0px 8px 0px 0px;
    height: 60px;
    line-height: 20px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
}



/******==============================================閲戣瀺瀹為獙瀹�===============================================******/
.financial_border_left div{
	width: 10%;
    border: 2px solid #45E1D4;
}
.financial_content{
	width: 855px;
    margin: 30px auto 0px auto;
}
.financial_section{
	display: block;
	width: 70%;
	float: left;
}
.financial_sel{
	width: 30%;
	float: left;
	display: block;
	margin-top: 30px;
}

.financial_sel a{
	width: 100%;
	display: inline-block;
	text-align: center;
}

.financial_sel a img{
	width: 25px;
	display: inline-block;
	margin-bottom: 25px;
	margin-top: 40px;
}

.financial_sel a span{
	width: 100%;
	text-align: center;
	display: inline-block;
}

.financial_info{
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.financial_info img{
	width: 32.5%;
    margin-top: 30px;
    padding: 3px;
}

.financial_info_img{
	width: 100%;
	position: relative;
}

.jrsys_funnel{
	position: absolute;
    bottom: 0.1px;
}

.financial_info_title{
	margin-top: 20px;
	text-align: center;
}

.financial_info_content{
	text-align: center;
	margin-top: 30px;
	min-height: 500px;
}

.financial_lab_sel{
	margin-top: 10px;
	border-bottom:none;
	list-style: none;
	padding-left: 0px;
}

.financial_lab_sel li{
	width: 100%;
	margin-top: 20px;
	display: inline-block;
	cursor: pointer;
}

.financial_lab_sel li:hover > div > span,
.financial_lab_sel li:focus > div > span{
  color:#45E1D4;
}

.financial_lab_sel li:hover > i,
.financial_lab_sel li:focus > i{
  background: url("../images/po_yes.png") no-repeat;
  background-size: 20px 20px;
}

.financial_lab_sel li > i{
	display: block;
    float: left;
    width: 25px;
    height: 20px;
    background: url("../images/po_not.png") no-repeat;
    background-size: 20px 20px;
}

.financial_lab_sel li.active > i{
	display: block;
    float: left;
    width: 25px;
    height: 20px;
    background: url("../images/po_yes.png") no-repeat;
    background-size: 20px 20px;
}


.financial_lab_sel li > div{
	display: block;
	float: left;
}
.financial_lab_sel li > div > span{
	width:100%;
	display: inline-block;
	padding-top: 2px;
}

.financial_lab_sel li.active > div > span{
	width:100%;
	display: inline-block;
	color:#45E1D4;
}

.financial_content .financial_title span{
	width: 100%;
	display: block;
}

/******==========================浜ゆ槗鎵�璇︾粏椤�===================================******/
.jys_detail_section{
	width: 855px;
	margin: 0 auto;
	min-height: 500px;
	position: relative;
}

.jys_detail_section .detail_title {
	text-align: center;
	width: 100%;
	display: block;
}

.jys_detail_section .detail_content {
	text-align: center;
	width: 100%;
	display: block;
}
/******==========================鍏充簬鎴戜滑===================================******/

.about_us_section{
	width: 855px;
	margin: 0 auto;
	min-height: 500px;
	position: relative;
}

.about_us_section .contact_title{
	width: 100%;
}

.about_us_section .contact_title span{
	width: 100%;
	display: block;
}

/******==========================鍔犲叆鎴戜滑===================================******/

.join_us_section{
	width: 70%;
	margin: 0 auto;
	min-height: 500px;
	position: relative;
}

.join_us_section .join_title{
	width: 100%;
}

.join_us_section .join_title span{
	width: 100%;
	display: block;
}

.join_content{
	width: 100%;
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 20px;
} 

.join_content .join_info_left{
	width: 45%;
	float:left;
}

.join_content .join_info_left .border_left{
	width:10%;
	border:2px solid #45E1D4;
}

.join_content .join_info_right{
	width: 55%;
	float:left;
}

.join_content .join_info_right .border_right{
	border:2px solid #45E1D4;
	width:7%;
}

.join_content .invite_time{
	color:#45E1D4;
	font-style: italic;
	width: 100%;
}

.join_content .invite_job{
	width: 100%;
}

.invite_obj_info{
	width: 100%;
	display: inline-block;
    line-height: 20px;
}

.invite_obj_info span{
	display: block;
}

.invite_point_left{
	margin-top: 5px;
}

.invite_obj_info .invite_percount_title{
	margin-left: 25px;
}

.invite_obj_info .invite_percount_content{
	margin-left: 20px;
	color:#b8b8b8;
}

.invite_obj_info .invite_obj_title{
	margin-left: 25px;
}

.invite_obj_info .invite_obj_content{
	margin-left: 20px;
	color:#b8b8b8;
}

.invite_require .invite_require_title{
	
}

.invite_require .invite_require_content{
	margin-left: 15px;
	color:#b8b8b8;
}

/******==========================璧勪骇绠＄悊===================================******/
.assetinfo_left{
	width: 45%;
}
.assetinfo_left .border_left{
	width:10%;
	border:2px solid #45E1D4;
}
.assetinfo_section{
	width: 855px;
    margin: 0px auto;
    min-height: 500px;
    position: relative;
}

.assetinfo_title{
	display: block;
	width: 100%;
	margin: 15px 0px 15px 0px;
}
.assetinfo_content{
	display: block;
	width: 100%;
	margin: 5px 0px 25px 0px;
	color: #bbbbbb;
}

.assetinfo_section .asset_title{
	margin-bottom: 25px;
}

.assetinfo_section .asset_title span{
	width: 100%;
	display: block;
}

/******==========================瀛愬崍绉戞妧===================================******/
.science_section{
	width: 855px;
    margin: 0px auto;
    min-height: 500px;
    position: relative;
}

.science_section a:focus,
.science_section a:hover{
	color: #222;
}

.science_section .science_head{
	margin-bottom: 25px;
}

.science_section .science_head span{
	width: 100%;
	display: block;
}

.science_div{
	width: 33%;
	float: left;
	padding:5px;
}

.science_div img{
	width: 100%;
	display: inline-block;
}

.science_div .science_title{
	width: 100%;
	display: inline-block;
	margin-top: 15px;
}

.science_div .science_content{
	width: 100%;
	display: inline-block;
	margin-top: 5px;
	color: #bbbbbb;
}


.main_info_dialog{
/* 	overflow-y:auto; */
/* 	max-height:80% !important; */
	width:1000px !important;
}

.modal-content{
	line-height: 30px;
	border: none;
	border-radius: 0px;
}

.main_dialog_btn{
	display: block;
	width: 100%;
	text-align: center
}

.main_dialog_btn a{
	display: inline-block;
    width: 100px;
    height: 30px;
    background: #fff;
    text-decoration: none;
    line-height: 30px;
    text-align: center;
    color: #45E1D4;
    border-radius: 10px;
    margin: 15px 30px;
    border: 1px solid #45E1D4;
    -webkit-appearance:none;
}
