.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  color: #666;
  background-color: #fff;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: #45E1D4;
  background-color: #fff;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 0px;
}